<%- include("../inc/heading.ejs") %>



<section class="vh-100" style="background-color: #508bfc">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
            
              <h3 class="mb-5">بازیابی رمز عبور</h3>

              <form action="/login" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="userId" value="<%= userId %>">
                <input type="hidden" name="passWordToken" value="<%= passWordToken %>">

                <div class="form-outline mb-4">
                  <input name="passWord" type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="رمز عبور جدید را وارد کنید">
                </div>
  
                <button class="btn btn-primary btn-lg btn-block" type="submit">
                  ذخیره رمز عبور جدید
                </button>
              </form>
    
           
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<%- include("../inc/fotter.ejs") %>