<%- include('../includes/navbar.ejs') %>

<main>

  <ul class="cart__item-list">
    <li class="cart__item">
      <div>
        <img src="<%= "" %>" class="img-thumbnail" alt="" />
      </div>
      <h1><%= 1 %></h1>
      <h2><%= 2 %></h2>
      <form action="">
        <button class="btn btn-danger">حذف</button>
      </form>
    </li>
  </ul>

</main>

<%- include('../includes/fotter.ejs') %>
